PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://chandan970959_db_user:Chandan9709@cluster0.auncgls.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=apna_pos_jwt_access_super_secret_key_2026_production_ready_token_key_128
JWT_REFRESH_SECRET=apna_pos_jwt_refresh_super_secret_key_2026_production_ready_token_key_256
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=*
CLOUDFLARE_ACCOUNT_ID=80ce023ba73c4c6640399cf12203e4e7
R2_ACCESS_KEY_ID=6f5914f65ba3e0723b5dff31790ad1c7
R2_SECRET_ACCESS_KEY=08fd4db41e77200af9c389c52c03ae3d32a2bbf5c40728e46c61b666170649b5
R2_BUCKET_NAME=apna-pos-media
R2_PUBLIC_DOMAIN=https://pub-885e2df0fc0347e7ad9b84025e7ae9fc.r2.dev
